<table class="primary">
  <thead>
    <tr>
      <th>Text</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {{#each feature in model}}
      <tr>
        <td>{{#link-to 'features.show' feature}}{{feature.text}}{{/link-to}}</td>
        <td>{{feature.truncatedDescription}}</td>
        <td><a href="#" {{action 'delete' feature}}>delete</a></td>
      </tr>
    {{/each}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
