body {
  text-align: center;
  color: #333;
  background: white;
  margin: 80px auto;
  width: 100%;
  display: block;
}

nav {
  height: 3em;
}

table {
  width: 100%;  
}

ul.inline {
  display: flex;
}

ul.inline li {
  list-style-type: none;
  margin-right: 1em;
}
