{{#if model}}
  <h2>Requirements</h2>

  <table class="primary">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each requirement in model}}
        {{requirements/requirement-row requirement=requirement save="save"}}
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{#link-to "requirements.new"}}Add new requirement{{/link-to}}
